@CHARSET "UTF-8";

body {
  padding-top: 50px;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

#tab-page {
	padding-top: 32px;
}

.panel-padding {
	padding-top:16px;
}

.ipinfo-table {
	width:100%;
}

.ipinfo-header {
	width:25%;
}

.input-group-padding {
	padding-left: 10px;
	padding-right: 10px;
}
