<div class="col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2 panel-padding">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">结果</h3>
    </div>
    <div class="panel-body">
      <table class="table table-bordered hash-table">
        <tbody>
          <tr><th>MD5</th><td id="hash-md5" class=".hash-result"></td></tr>
          <tr><th>SHA-1</th><td id="hash-sha1" class=".hash-result"></td></tr>
          <tr><th>SHA-256</th><td id="hash-sha256" class=".hash-result"></td></tr>
        </tbody>
      </table>
      <label>
        <input id="show-capital" type="checkbox" /> 字母显示为大写
      </label>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2">
    <div class="form-group input-group-padding">
      <textarea id="string-field" class="hash-field form-control" rows="12" placeholder="在这里粘贴或输入字符串"></textarea>
    </div>
  </div>
</div>