<div class="col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2 panel-padding">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">结果</h3>
    </div>
    <div class="panel-body">
      <table class="table table-bordered hash-table">
        <tbody>
          <tr><th>MD5</th><td id="hash-md5"></td></tr>
          <tr><th>SHA-1</th><td id="hash-sha1"></td></tr>
          <tr><th>SHA-256</th><td id="hash-sha256"></td></tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2">
    <div class="form-group input-group-padding">
      <textarea id="string-field" class="form-control" rows="12" placeholder="在这里粘贴或输入字符串"></textarea>
    </div>
  </div>
</div>