<div class="row">
  <div class="col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2">
    <div class="form-group input-group-padding">
      <textarea id="json-field" class="json-field form-control" rows="8" placeholder="在这里粘贴或输入 Json 串"></textarea>
    </div>
  </div>
</div>
<div id="result-panel" class="col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2 panel-padding">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">检查结果</h3>
    </div>
    <div class="panel-body">
      <pre id="check-result"> </pre>
    </div>
  </div>
</div>
<div id="result-panel" class="col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2 panel-padding">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">格式化</h3>
    </div>
    <div class="panel-body">
      <pre><code id="format" class="json"> </code></pre>
    </div>
  </div>
</div>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/highlight.min.js"></script>