<div id="macinfo-alert" class="alert alert-danger col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2 hidden">
  <strong>请输入 MAC 地址</strong>
</div>
<div class="row">
  <div class="col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2">
    <div class="input-group input-group-padding">
      <input id="macaddr-field" type="text" class="form-control" placeholder="输入 MAC 地址 (XX:XX:XX:XX:XX:XX 或 XX-XX-XX-XX-XX-XX)">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" onclick="on_query_button_clicked()">查询</button>
      </span>
    </div>
  </div>
</div>
<div id="result-panel" class="col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2 panel-padding hidden">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><span class="col-md-10 col-sm-10">结果</span>
        <span class="label label-default text-right" id="query-label">查询中</span></h3>
    </div>
    <div class="panel-body">
      <table class="table table-bordered ipinfo-table">
        <tbody>
          <tr><th>注册块</th><td id="mac-registry" class="mac-result"></td></tr>
          <tr><th>分配前缀</th><td id="mac-assignment" class="mac-result"></td></tr>
          <tr><th>机构名称</th><td id="mac-organization" class="mac-result"></td></tr>
          <tr><th>地址</th><td id="mac-organization-address" class="mac-result"></td></tr>
        </tbody>
      </table>
    </div>
  </div>
</div>