<div id="domain-alert" class="alert alert-danger col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2 hidden">
  <strong>请输入域名</strong>
</div>
<div class="row">
  <div class="col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2">
    <div class="input-group input-group-padding">
      <input id="domain-field" type="text" class="form-control" placeholder="输入域名">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" onclick="on_query_button_clicked()">查询</button>
      </span>
    </div>
  </div>
</div>
<div id="result-panel" class="col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2 panel-padding hidden">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><span class="col-md-10 col-sm-10">结果</span>
        <span class="label label-default text-right" id="result-label">查询中</span></h3>
    </div>
    <div class="panel-body">
      <pre id="whois-result"> </pre>
    </div>
  </div>
</div>
